#ConfigWidget {
    background-color: #404040;
    border-radius: 10px;
}

QPushButton {
    background-color: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #505050;
}