QWidget#IlluminaClipOption {
    background-color: #404040;
    border-radius: 10px;
}

QLabel#title {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

QLabel#adapter_label {
    font-size: 12px;
    color: white;
}

QComboBox#adapter_options {
    background-color: none;
    border-radius: 5px;
    padding: 0.5em;
}

QLabel#seed_mismatches_label {
    font-size: 12px;
    color: white;
}

QLabel#palindrome_clip_threshold_label {
    font-size: 12px;
    color: white;
}

QPushButton#checkbox {
    background-color: none;
    border: none;
    width: 16;
    height: 16;
}

QPushButton#checkbox:hover {
    background-color: #505050;
}