altgraph==0.17.4
beautifulsoup4==4.13.4
bs4==0.0.2
lxml==5.4.0
Nuitka==2.7
numpy==2.2.6
ordered-set==4.1.0
packaging==25.0
pandas==2.2.3
pefile==2023.2.7
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
setuptools==80.9.0
shiboken6==6.9.0
six==1.17.0
soupsieve==2.7
tomlkit==0.13.2
typing_extensions==4.13.2
tzdata==2025.2
zstandard==0.23.0
