QLabel {
    color: white;
    padding: 0em;
    text-align: center;
    background-color: #555;
    /* padding: 1em; */
}

QPushButton {
    background-color: #555;
    padding: 0.5em;
    color: white;
    border: none;   
}

QPushButton:hover {
    background-color: #666;
}

QPushButton#Right {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

QPushButton#Left {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
}