#BasicStatisticsReportWidget {
    background-color: #3578E5;
    border-radius: 5px;
}

#BasicStatisticsTitleLabel {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

#BasicStatisticsValueLabel {
    font-size: 12px;
    color: #FFFFFF;
}