QWidget {
	background-color: #3578E5;
	border-radius: 5px;
}

#Checkbox {
	border: none;
	border-radius: 5px;
	padding: 0px;
	width: 20px;
	height: 20px;
}

#Checkbox:hover {
	background-color: #2F69CC;
}

QLabel {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

QComboBox {
	background-color: #6C757D;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	padding: 5px 15px;
    text-align: center;
}

QComboBox:on {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QComboBox:hover {
	background-color: #5A6268;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 0px;
    border: none;
}

QComboBox::down-arrow {
    image: none;
}

QComboBox QAbstractItemView {
	background: #6C757D;
    outline: none;
}

QComboBox QAbstractItemView::item {
	padding: 5px;
	color: #FFFFFF;
}
