#Title {
    font-weight: bold;
    color: #212529;
}

#LocationLabel, #NameLabel {
    color: #212529;
}

#LocationInput, #NameInput {
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    background-color: #4a6361;
    color: #FFFFFF;
}

#LocationButton {
    background-color: #006a66;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    outline: none;
}

#LocationButton:hover {
    background-color: #00504d;
}

QDialogButtonBox > QPushButton {
    background-color: #006a66;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

QDialogButtonBox > QPushButton:hover {
    background-color: #00504d;
}

QDialogButtonBox > QPushButton:disabled {
    background-color: #324b49;
    color: gray;
}
