#InstalledLabel, #UninstalledLabel {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

#LinkLineEdit {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #303030;
    color: #FFFFFF;
}

#AddButton {
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#AddButton:hover {
    background-color: #404040;
}

#InstalledScrollArea, #UninstalledScrollArea {
    background-color: transparent;
    border: none;
}

#uninstalledWidget, #installedWidget {
    background-color: transparent;
    border: none;
}
