#TitleLabel {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#IndicationLabel {
    font-size: 16px;
    color: white;
}

#ButtonName {
    color: white;
}

#CreateWorkspaceButton, #OpenWorkspaceButton {
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background-color: #303030;
}

#CreateWorkspaceButton:hover, #OpenWorkspaceButton:hover {
    background-color: #505050;
}