#TitleLabel {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

#IndicationLabel {
    font-size: 14px;
    color: black;
}

#ButtonName {
    color: black;
}

#CreateWorkspaceButton, #OpenWorkspaceButton {
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background-color: #006a66;
}

#CreateWorkspaceButton:hover, #OpenWorkspaceButton:hover {
    background-color: #00504d;
}