#FilterButton {
    background-color: #202020;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

#FilterButton:checked {
    background-color: #6495ED;
}

#FilterButton:!checked {
    background-color: #202020;
    color: darkgray;
}

#FilterButton:!checked:hover {
    background-color: #505050;
}