#SelectInputsWidget, #SelectDatabaseWidget {
    border: 2px dashed #6C757D;
    border-radius: 5px;
}

#PreviousReportsLabel, #SelectDatabaseLabel {
    font-size: 14px;
    font-weight: bold;
    color: #212529;
}

#NavigationButton {
    background-color: #3578E5;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    color: #FFFFFF;
}

#NavigationButton:hover {
    background-color: #2F69CC;
}