QDialogButtonBox > QPushButton, #FilterButton {
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

QDialogButtonBox > QPushButton {
    background-color: #006a66;
}

QDialogButtonBox > QPushButton:hover {
    background-color: #007c78;
}

 #FilterButton {
    background-color: #4a6361;
 }

#FilterButton:hover {
    background-color: #3f5e5b;
}

#FilterButton:checked {
    background-color: #19324a;
}