#FileSelectorDialogItemWidget {
    background-color: #4a6361;
    border-radius: 5px;
}

#FileSelectorDialogItemWidget[checked="false"]:hover {
    background-color: #517975;
}

#FileSelectorDialogItemWidget[checked="true"] {
    background-color: #19324a;
}

#NameLabel {
    font-weight: bold;
    color: #FFFFFF;
}

#PathLabel {
    color: #FFFFFF;
}
