QDialogButtonBox > QPushButton, #FilterButton {
    background-color: #303030;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

QDialogButtonBox > QPushButton:hover {
    background-color: #404040;
}

#FilterButton:checked {
    background-color: #6495ED;
}