#InstalledWidget {
    background-color: #4a6361;
    border-radius: 5px;
}

#InstalledPushButton {
    background-color: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#InstalledPushButton:hover {
    background-color: #404040;
}