#NumberSelector {
    background: #202020;
    border-radius: 5px;
}

QSpinBox {
    padding: 8px 10px;
    background: #202020;
    border: none;
}
QSpinBox > QLineEdit {
    background: none;
}

#IncrementButton, #DecrementButton {
    padding: 0px 10px;
    background: none;
}
#IncrementButton:hover, #DecrementButton:hover {
    background: #404040;
}
#IncrementButton:pressed, #DecrementButton:pressed {
    background: #252525;
}

#IncrementButton {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#DecrementButton {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}