#NumberSelector {
    background: #cce8e5;
    border-radius: 5px;
    color: #324b49;
}

QSpinBox {
    padding: 8px 10px;
    background: #cce8e5;
    border: none;
    color: #324b49;
}
QSpinBox:disabled {
    color: #72aca8;
}
QSpinBox > QLineEdit {
    background: none;
    color: #324b49;
}

#IncrementButton, #DecrementButton {
    padding: 0px 10px;
    background: none;
    color: #324b49;
}
#IncrementButton:disabled, #DecrementButton:disabled {
    color: #72aca8;
}
#IncrementButton:hover, #DecrementButton:hover {
    background: #80d5cf;
}
#IncrementButton:pressed, #DecrementButton:pressed {
    background: #00504d;
}

#IncrementButton {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#DecrementButton {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}