#OperationModeWidget {
    background-color: #cce8e5;
    border-radius: 5px;
}

#ModeButton {
    background-color: #cce8e5;
    border-radius: 5px;
    padding: 10px 20px;
    color: #324b49;
}

#ModeButton:!checked:hover {
    background-color: #80d5cf;
}

#ModeButton:checked {
    background-color: #3f5e5b;
    color: white;
}