#OperationModeWidget {
    background-color: #303030;
    border-radius: 5px;
}

#ModeButton {
    background-color: #303030;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFFFFF;
}

#ModeButton:!checked:hover {
    background-color: #404040;
}

#ModeButton:checked {
    background-color: #6495ED;
}