#TitleColumnLabel {
    font-size: 14px;
    font-weight: bold;
}

#SavedConfigurationsLabel {
    font-size: 14px;
    font-weight: bold;
}

#NavigationButton {
    background-color: #6C757D;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    color: #FFFFFF;
}

#NavigationButton:hover {
    background-color: #5A6268;
}

#ExecuteButton {
    background-color: #6495ED;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

#ExecuteButton:hover {
    background-color: #4169E1;
}