#OptionWidget {
	background-color: #303030;
	border-radius: 5px;
	padding: 10px 20px;
}

#OptionWidgetCheckbox {
	border: none;
	border-radius: 5px;
	padding: 0px;
	width: 20px;
	height: 20px;
}

#OptionWidgetCheckbox:hover {
	background-color: #404040;
}

#OptionWidgetLabel {
	font-size: 14px;
	font-weight: bold;
}

#OptionWidgetHelpPushButton {
	color: #ffffff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
}

#OptionWidgetHelpPushButton:hover {
	background-color: #404040;
}
