#PreviousReportItemWidget {
    background-color: #4a6361;
    border-radius: 5px;
}

#PreviousReportItemWidget:hover {
    background-color: #3f5e5b;
}

#NameLabel {
    font-weight: bold;
    color: #FFFFFF;
}

#PathLabel {
    color: #DDDDDD;
}