#SegmentedOptionLabel {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}

#SegmentedButton {
    background-color: #cce8e5;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

#SegmentedButton:checked {
    background-color: #49607b;
}

#SegmentedButton:!checked {
    color: #324b49;
}

#SegmentedButton:!checked:hover {
    background-color: #a6bdba;
}