#SettingsItem {
    background-color: #6C757D;
    border-radius: 5px;
}

#SettingsItemTitle {
    font-weight: bold;
    color: #FFFFFF;
}

#SettingsItemSubtitle {
    font-size: 11px;
    color: #AAAAAA;
}