QPushButton {
    width: 100px;
    height: 20px;
    padding: 5px;
    background-color: #19324a;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #FFFFFF;
}

QPushButton:hover {
    background-color: #20405e;
}