#InputFileWidget {
    background-color: #3578E5;
    border-radius: 5px;
}

#TitleLabel {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

#HelpButton {
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

#HelpButton:hover {
    background-color: #2F69CC;
}