#SingleOption {
    background-color: #404040;
    border-radius: 10px;
}

#Checkbox {
    background-color: none;
    border: none;
    width: 16;
    height: 16;
}

#Checkbox:hover {
    background-color: #505050;
}

#HelpButton {
    background-color: none;
    border: none;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
}

#HelpButton:hover {
    background-color: #505050;
}