#SummaryLabel {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
}

#HelpButton {
    color: #CED4DA;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

#HelpButton:hover {
    background-color: #E5F1FF;
}

#SummaryItem {
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

#SummaryItem:checked {
    background-color: #6C757D;
    color: #FFFFFF;
}

#SummaryItem:!checked:hover {
    background-color: #E5F1FF;
}
