QListWidget {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
}

QListView::item {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #212529;
}

QListView::item:selected {
    background-color: #4a6361;
    outline: none;
    border: none;
    color: #FFFFFF;
}

QListView::item:!selected:hover {
    background-color: #E5F1FF;
}

QListView::item:focus {
    outline: none;
    border: none;
}

QListWidget::item[separator="true"] {
    border-top: 1px solid #4a6361;
}