#ThreadsSelectorWidget {
    background-color: #324b49;
    border-radius: 5;
}

#OptionTitle {
    font-size: 14px;
    font-weight: bold;
    color: #cce8e5;
}

#ThreadsSlider {
    color: #cce8e5;
}