QPushButton#ModeButton {
    border: 1px solid #303030;
    border-radius: 5px;
    padding: 10px 20px;
    color: #606060;
    font-weight: bold;
}

QPushButton#ModeButton:hover {
    background-color: #404040;
}

QPushButton#ModeButton:checked {
    background-color: #303030;
    color: white;
}

QPushButton#ModeButton:checked:hover {
    background-color: #404040;
}