#UploadFilesPushButton {
    background-color: #4a6361;
    border-radius: 5px;
    outline: none;
}

#UploadFilesPushButton:hover {
    background-color: #3f5e5b;
}

#MainLabel {
    color: white;
}

#SecondaryLabel {
    color: white;
}