#HeaderLabel {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

#UploadButton {
    color: #ffffff;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

#UploadButton:hover {
	background-color: #404040;
}

#FilterButton {
    background-color: #202020;
    border: none;
    border-radius: 5px;
    padding: 7.5px;
    color: #212529;
}

#FilterButton:checked {
    background-color: #6495ED;
}