#SearchLineEdit {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: black;
}

#CreateNewWorkspaceButton, #OpenExistingWorkspaceButton {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #006a66;
    color: white;
    outline: none;
}

#CreateNewWorkspaceButton:hover, #OpenExistingWorkspaceButton:hover {
    background-color: #00504d;
}

#HorizontalSpacer {
    color: black;
    max-height: 1px;
}


#WorkspacesScrollArea {
    background-color: #F3F3F3;
    border: none;
}

#WorkspacesList {
    background-color: #F3F3F3;
}