#SearchLineEdit {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: white;
}

#CreateNewWorkspaceButton, #OpenExistingWorkspaceButton {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #303030;
    color: white;
    outline: none;
}

#CreateNewWorkspaceButton:hover, #OpenExistingWorkspaceButton:hover {
    background-color: #404040;
}

#HorizontalSpacer {
    color: gray;
    max-height: 1px;
}

#WorkspacesScrollArea {
    background-color: #1E1E1E;
    border: none;
}

#WorkspacesList {
    background-color: #1E1E1E;
}